<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat</title>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">
        const event_join = "join"
        const event_leave = "leave"
        const event_msg_from_srv = "message_from_srv"
        const event_msg_to_srv = "message_to_srv"

        let socketio;

        /**
         * OnLoad */
        window.onload = function () {
            console.log("Connecting...");
            socketio = connect();

            socketio.on('connect', function() {
                console.log("Connected!");
                join();
            });

            /** OnMessage */
            socketio.on(event_msg_from_srv, function (json) {
                console.log(json);

                let my_username = whoami();

                let msg = json['message'];
                let from_username = json['from'];

                let chat_area = document.getElementById("chat");
                let element = document.createElement("div");
                element.innerText = msg;

                if (from_username === "SERVER") {

                } else if (from_username === my_username) {
                    element.classList.add("msg_sent");
                } else {
                    element.classList.add("msg_received");
                }



                chat_area.appendChild(element);
            });
        }

        /**
         * Whoami */
        function whoami() {
            return document.getElementById("my_username").innerText;
        }

        /**
         * Connect to server */
        function connect() {
            return io.connect('http://' + document.domain + ':' + location.port + '/chat');
        }

        /**
         * Join server */
        function join() {
            console.log("Joining.");
            socketio.emit(event_join, {});
        }

        /**
         * Leave server */
        function leave() {
            console.log("Leaving.");
            socketio.emit(event_leave, {}, function () {
                socketio.disconnect();
            });
        }

        /**
         * Send message */
        function onSendClick() {
            let element = document.getElementById("input_msg");
            sendMessage(element.value);
            element.value = "";
        }

        function onSendEnter(element) {
            if (event.keyCode == 13) {
                sendMessage(element.value);
                element.value = "";
            }
        }

        function sendMessage(msg) {
            socketio.emit(event_msg_to_srv, { 'message': msg });
        }

    </script>
</head>

<body class="text-center">

    <div id="my_username" hidden="hidden">{{session['username']}}</div>

    <div>
        <div id="chat">

        </div>
        <div>
            <input id="input_msg" type="text" placeholder="message..." onkeydown="onSendEnter(this)"/>
            <button onclick="onSendClick()">Send</button>
        </div>
    </div>


    <style>

        .msg_received {
            background: gray;
        }
        .msg_sent {
            background: blue;
        }

    </style>

</body>
</html>